body {
    margin: 5% auto;
    font-family: 'serif';
    width: 100%;
}

div#header ul {
    list-style: none;
}

div#header {
    font-size: 115%;
    font-weight: bold;
}

div.visual img {
    width: auto;
    height: auto;
    max-width: 75%;
    max-height: 50%;
}

img {
    display: block;
    width: 100%;
    margin: auto;
}
